
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">
						<div class="col-md-6" align="center">
							<h3>Chevrolet FAME Lázaro Cádenas</h3>
<span class="single-project-content">
                    <img alt="Chevrolet Fame Lázaro Cárdenas" src="images/fachada.jpg"></span> 
                     <li><span><i class="fa fa-home"></i>Avenida Las Palmas #3198</span><span> Colonia Ejidal, Del Carmen CP:60953</span> <span>Lázaro Cárdenas, Mich.</span></li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div class="map">
</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>
			
</body>
</html>